resolver:
  use_resolvconf: True # used to uninstall resolvconf and salt manage the config
  ng:
    resolvconf:
      enabled: False
    networkmanager:
      #By default we disable networkmanager owning resolv.conf to avoid conflict 
      disable_resolvconf: True
      file: /etc/NetworkManager/NetworkManager.conf
  domain: example.com
  nameservers:
    - 8.8.8.8
    - 8.8.4.4
  searchpaths:
    - example.com
  options:
    - rotate
    - timeout:1
    - attempts:5
